.logo {
    height: 32px;
    background: rgba(255, 255, 255, .2);
    margin: 16px;
}

.layout-container {
    height: 100vh;
}

.layout-sider {
    height: 100vh;
    position: fixed;
    left: 0;
}

.layout-content {
    margin: 16px 16px 16px 216px;
}