.logo {
    height: 32px;
    background: rgba(255, 255, 255, .2);
    margin: 16px;
}

.layout-container {
    height: 100vh;
}

.layout-sider {
    height: 100vh;
    position: fixed;
    left: 0;
}

.layout-content {
    margin: 16px 16px 16px 216px;
}

.custom-filter-dropdown {
    padding: 8px;
    border-radius: 6px;
    background: #fff;
    box-shadow: 0 1px 6px rgba(0, 0, 0, .2);
}

.custom-filter-dropdown input {
    width: 130px;
    margin-right: 8px;
}

.custom-filter-dropdown button {
    margin-right: 8px;
}

.highlight {
    color: #f50;
}